<h1><%=@job.title %></h1>
<h5><%= link_to @job.company.name, company_path(@job.company) %> - <%= @job.company.location %></h5>
<p><%= @job.description %></p>

<%= link_to "Back to Index", jobs_path %>
